body {
    background: #faecd6;
}

h1 {
    color: blue;
    padding-top: 20px;
    padding-bottom: 10px;
}

.info {
    font-size: 12px;
}

button {
    display: block;
    margin: 0 auto;
    color: blue;
    background: rgb(223, 220, 226);
    margin-top: 10px;
    margin-right: 55px;
}